@import "../../Styles/common.scss";

input,
button {
  outline-style: none;
}

.Basket {
  width: 100%;
  .mainContainer {
    .sectionWrap {
      padding-bottom: 60px;
      min-height: 50vh;
      .orderPopTop {
        position: relative;
        height: 96px;
        background: url("/Images/bg_order_top.jpg") center center no-repeat;
        background-size: cover;

        .innerWrapIn {
          position: relative;
          width: 1132px;
          margin: 0 auto;
          h3 {
            color: white;
            font-size: 36px;
            font-weight: 400;
            text-align: center;
            line-height: 96px;
          }
          a {
            position: absolute;
            display: block;
            right: 0;
            top: 25px;
            width: 49px;
            height: 49px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            text-indent: -999em;
            background: url("/Images/ico_x.png") -31px top no-repeat;
          }
        }
      }
      .joinStepBox {
        padding: 24px 0 20px 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 0;
        text-align: center;
        ol {
          li:first-child {
            position: relative;
            width: 220px;
            padding-top: 45px;
            display: inline-block;
            font-size: 16px;
            vertical-align: top;
            span {
              color: #222;
            }
            &::before {
              content: "";
              height: 3px;
              position: absolute;
              top: 17px;
              background: #ddd;
              width: 100%;
              left: 50%;
            }
            &::after {
              content: "";
              width: 36px;
              height: 36px;
              border: 3px solid #ddd;
              box-sizing: border-box;
              position: absolute;
              background: #ddd;

              top: 0;
              left: 50%;
              margin-left: -18px;
              border-radius: 100%;
            }
            &::after {
              border: 3px solid #962639;
              background-color: #fff;
            }
          }
          li:last-child {
            position: relative;
            width: 220px;
            padding-top: 45px;
            display: inline-block;
            font-size: 16px;
            vertical-align: top;

            span {
              color: #c2c2c2;
            }

            &::after {
              content: "";
              border-color: $bur;
              width: 36px;
              height: 36px;
              border: 3px solid #ddd;
              box-sizing: border-box;
              position: absolute;
              background: #ddd;
              top: 0;
              left: 50%;
              margin-left: -18px;
              border-radius: 100%;
            }
          }
        }
      }

      section {
        margin: 0 auto;
        max-width: 1200px;
        overflow: hidden;
        .form {
          .orderTableContainer {
            .orderTableWrap {
              background-color: #fff;
              font-size: 1.4em;
              float: left;
              .orderTable {
                float: left;
                font-size: 14px;
                thead {
                  tr {
                    height: 52px;
                    background-color: #f4f4f4;
                    .tCheck {
                      vertical-align: middle;
                      padding: 12px;
                      height: 52px;

                      // checkbox 체크되기 전
                      .checkboxWrap {
                        position: relative;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #888;
                        background-color: #fff;
                        cursor: pointer;

                        .checkbox {
                          position: absolute;
                          opacity: 0;
                          cursor: pointer;
                        }
                      }

                      // checkbox 체크되었을 때
                      .checkboxWrapChecked {
                        position: relative;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #888;
                        background-color: #fff;
                        cursor: pointer;

                        .checkbox {
                          position: absolute;
                          opacity: 0;
                          cursor: pointer;
                        }

                        .checkboxCustom {
                          position: absolute;
                          content: "";
                          width: 7px;
                          height: 11px;
                          border: 1px solid #888;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg) scale(1);
                          left: 3px;
                          top: -1px;
                        }
                      }
                    }
                    .tInfo {
                      color: #888;
                      font-size: 14px;
                      line-height: 1.5;
                      padding: 14px 4px;
                      width: 43%;
                      text-align: center;
                      vertical-align: middle;
                    }
                    .tQty {
                      color: #888;
                      font-size: 14px;
                      line-height: 1.5;
                      padding: 14px 4px;
                      width: 12%;
                      text-align: center;
                    }
                    .tPrice {
                      width: 15%;
                      height: 52px;
                      .tPriceText {
                        color: #888;
                        font-size: 14px;
                        line-height: 1.5;
                        padding: 14px 4px;
                        text-align: right;
                        height: 100%;
                      }
                    }

                    .tFunc {
                      color: #888;
                      font-size: 14px;
                      line-height: 1.5;
                      padding: 14px 4px;
                      width: 15%;
                    }
                  }
                }
                tbody {
                  // empty_body (display: none) -> 없애기
                  .emptyBody {
                    td {
                      display: none;
                      color: #727272;
                      border-top: 1px solid #ccc;
                      text-align: center;
                      padding: 5em 0;
                    }
                  }

                  .emptyBodyActive {
                    height: 52px;
                    border-top: 1px solid #ccc;

                    td {
                      color: #727272;
                      text-align: center;
                      padding: 5em 0;
                    }
                  }
                }
              }
              .totalSection {
                position: relative;
                float: right;
                width: 300px;
                height: 300px;
                margin-left: 50px;
                .totalTitle {
                  width: 100%;
                  height: 80px;
                  font-size: 26px;
                  line-height: 80px;
                  padding-top: 10px;
                  border-bottom: 3px solid #000;
                }
                .totalGoodsPrice {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                  height: 80px;
                  line-height: 80px;
                  padding-top: 10px;
                  border-bottom: 3px solid #000;
                }
                .totalPrice {
                  display: flex;
                  justify-content: space-between;
                  padding-top: 30px;
                }
                .payBtn {
                  text-align: center;
                  line-height: 50px;
                  color: white;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 50px;
                  background: $bur;
                }
              }
            }
          }
        }
      }
    }
  }
}
