@import "../../Styles/common.scss";

.memberForm {
  padding: 20px 50px 0 50px;

  .formBox {
    margin-top: 20px;

    .inputBox {
      width: 100%;
      height: 50px;
      font-size: 16px;
      color: $textContent;
      border: 1px solid #cccccc;
      padding: 0 20px;
      margin-bottom: 20px;
    }

    .checkBox {
      margin-bottom: 28px;
    }

    .submit {
      width: 100%;
      height: 50px;
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      line-height: 50px;
      border: 1px solid $bur;
      background: $bur;
      padding: 0 40px;
    }
  }

  .orText {
    position: relative;
    text-align: center;

    span {
      width: 50px;
      position: relative;
      z-index: 1;
      display: inline-block;
      font-family: "Noto Serif";
      font-style: italic;
      font-size: 18px;
      color: #999999;
      line-height: 60px;
      background: #ffffff;
    }

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      background: #dddddd;
    }
  }
}

.otherBox {
  .social {
    margin: 0 -10px;

    .socialBox {
      width: 50%;
      float: left;
      display: inline-block;
      padding: 0 10px;

      .kakao {
        width: 100%;
        height: 50px;
        display: block;
        text-align: center;
        line-height: 50px;
        border: 1px solid #dfdfdf;
        background: #ffffff;
        cursor: pointer;

        &::before {
          content: "";
          display: inline-block;
          width: 25px;
          height: 25px;
          background: url(/Images/icons.png) left -120px no-repeat;
          vertical-align: -6px;
          margin-right: 8px;
        }
      }
    }

    .socialBox2 {
      width: 50%;
      display: inline-block;
      padding: 0 10px;

      .naver {
        width: 100%;
        height: 50px;
        display: block;
        text-align: center;
        line-height: 50px;
        border: 1px solid #dfdfdf;
        background: #ffffff;
        cursor: pointer;

        &::before {
          content: "";
          display: inline-block;
          width: 25px;
          height: 25px;
          background: url(/Images/icons.png) -40px -120px no-repeat;
          vertical-align: -6px;
          margin-right: 8px;
        }
      }
    }
  }

  .find {
    margin-top: 15px;
    position: relative;

    span {
      color: $textContent;
      line-height: 36px;
      padding: 0 7px 0 4px;
      margin-right: 26px;

      &::after {
        content: "";
        width: 7px;
        height: 7px;
        display: inline-block;
        border: solid 1px #7c7c7c;
        border-left: 0;
        border-top: 0;
        transform: rotate(-45deg);
        vertical-align: 2px;
        margin-left: 6px;
      }

      &::before {
        content: "";
        width: 1px;
        height: 17px;
        background: #dddddd;
        position: absolute;
        left: 180px;
        top: 11px;
      }
    }
  }
}
