@import "../../../Styles/common.scss";

.NewMenuContent {
  width: 100%;
  height: 826px;
  padding: 70px 0px 110px;

  h2 {
    width: 100%;
    height: 96px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 50px;
  }

  span {
    font-size: 20px;
  }
  p {
    font-size: 48px;
  }

  .contentBox {
    width: 100%;
    height: 500px;

    .textContentBox {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .textZoom {
      width: 959px;
      height: 370px;
      background-color: #f4f4f4;
    }

    .textBox {
      position: relative;
      width: 560px;
      height: 232px;
      padding: 43px 0px 0px;
      float: right;
      line-height: 33px;

      .menuList {
        position: absolute;
        top: 311px;
        left: 0;

        .imgBorder {
          display: inline-block;

          .border0 {
            margin-right: 20px;
            border: 1px solid red;
          }

          .border1 {
            margin-right: 20px;
            border: 1px solid red;
          }

          .border2 {
            margin-right: 20px;
            border: 1px solid red;
          }
        }
      }

      span {
        font-size: 18px;
      }

      .title {
        font-size: 34px;
        padding: 10px 0px 0px;
      }

      .text {
        font-size: 16px;
        padding: 5px 0px 0px;
      }

      button {
        width: 170px;
        height: 52px;
        font-size: 18px;
        margin: 22px 0px 0px;
        outline: none;
        border-style: none;
        color: white;
        background-color: $bur;
      }
    }
  }
}
