@import "../../../Styles/common.scss";

.detailContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .infoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1132px;
    height: 552px;
    position: relative;
    .menu {
      width: 552px;
      height: 552px;
      margin-right: 100px;
    }
    .wholeContainer {
      width: 480px;
      height: 552px;
      display: flex;
      flex-direction: column;
      .name {
        font-size: 42px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      .intro {
        font-size: 18px;
        color: #666;
        font-weight: 450;
        padding-top: 4px;
      }
      .priceContainer {
        padding-top: 25px;
        .price {
          font-size: 34px;
          font-weight: 700;
          color: #962639;
        }
        .unit {
          font-size: 22px;
          color: #222222;
        }
      }
      .btnContainer {
        display: flex;
        flex-direction: row-reverse;

        .btn {
          width: 260px;
          display: flex;
          justify-content: space-between;

          .myMenu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 22px;
            width: 124px;
            height: 41px;
            font-size: 16px;
            background-color: white;
            border: 1px solid #ddd;
            outline: none;

            .likeIcon {
              background: url("/Images/heart_icon.png") left top no-repeat;
              width: 20px;
              height: 20px;
              background-position: 0px 2px;
            }
          }
          .origin {
            width: 124px;
            height: 41px;
            font-size: 16px;
            background-color: white;
            border: 1px solid #ddd;
            outline: none;
          }
        }
      }
      .bar {
        border-bottom: solid 2px #222;
        padding-bottom: 22px;
      }
      .summary1 {
        color: #666;
        font-size: 18px;
        font-weight: 450;
        padding-top: 24px;
      }
      .summary2 {
        color: #666;
        font-size: 18px;
        font-weight: 450;
        padding-top: 7px;
      }
      .summary3 {
        color: #666;
        font-size: 18px;
        font-weight: 450;
        padding-top: 7px;
      }
      .previewImage {
        width: 140px;
        height: 65px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        .subImage1 {
          width: 65px;
          height: 65px;
        }
        .subImage2 {
          width: 65px;
          height: 65px;
        }
      }
    }
    .shareContainer {
      width: 115.2px;
      height: 55px;
      position: absolute;
      right: 0;
      bottom: 7px;
      display: flex;
      justify-content: space-around;

      .fbContainer {
        width: 50px;
        height: 50px;
        border: solid 1px #9a9a9a;
        border-radius: 100%;
        .facebook {
          background: url("/Images/share_icon.png") left top no-repeat;
          background-size: 130px;
          overflow: hidden;
          background-position-x: 8px;
          background-position-y: 8px;
          width: 35px;
          height: 35px;
          left: -150%;
          top: -10%;
        }
      }

      .linkContainer {
        width: 50px;
        height: 50px;
        border: solid 1px #9a9a9a;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-top: 2px;
        .link {
          background: url("/Images/share_icon.png") left top no-repeat;
          background-size: 120px;
          overflow: hidden;
          background-position-x: -63px;
          background-position-y: 7px;
          width: 35px;
          height: 35px;
          left: -150%;
          top: -10%;
        }
      }
    }
  }
}

.productDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f3ef;
  padding-top: 80px;
  padding-bottom: 73px;

  .headText {
    color: #8f172b;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 35px;
    font-family: $serif;
  }
  .menuName {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 17px;
  }
  .underBar {
    width: 30px;
    height: 3px;
    background: #962639;
    margin-bottom: 40px;
  }
  .productImage {
    width: 1132px;
    height: 780px;
  }
  .introText {
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    margin-top: 30px;
  }
  .menuText {
    font-weight: 550;
    font-size: 35px;
    padding-top: 10px;
  }
  .explanation {
    font-size: 18px;
    color: #666;
    line-height: 30px;
    text-align: center;
    margin-top: 17px;
    font-weight: 450;
  }
}

.aboutIngredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  .ingreText {
    font-size: 24px;
    font-weight: 500;
    color: #222222;
    padding-top: 80px;
    padding-bottom: 17px;
  }
  .ingreUnderBar {
    width: 30px;
    height: 4px;
    background: #962639;
    margin-bottom: 40px;
  }
  .ingredient1 {
    display: flex;
    width: 1132px;
    height: 650px;
    .ingre1Image {
      width: 632px;
      height: 650px;
    }
    .ingreContents1 {
      display: flex;
      flex-direction: column;

      width: 446.58px;
      height: 397.97px;
      padding-top: 70px;
      padding-left: 50px;
      .contentsHead {
        width: 396.582px;
        height: 116px;
        padding-bottom: 24px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        .taurinAndVitamin {
          font-size: 38px;
          font-weight: 400;
          line-height: 50px;
        }
        .ingre1Text {
          font-weight: 500;
          font-size: 38px;
          color: #222222;
          padding-top: 5px;
        }
      }
      .underLine {
        border: 1px solid #222;
        width: 30px;
        height: 1px;
      }
      .ingre1Detail {
        font-size: 18px;
        color: #666;
        line-height: 30px;
        width: 410px;
        height: 250px;
        margin-top: 24px;
      }
    }
  }

  .ingredient2 {
    display: flex;
    justify-content: space-between;
    width: 1132px;
    height: 730px;
    padding-top: 80px;
    .ingreContents2 {
      display: flex;
      flex-direction: column;
      padding-top: 70px;
      padding-left: 50px;
      width: 459.12px;
      height: 427.97px;
      padding-top: 70px;
      padding-left: 50px;
      .contentsHead {
        width: 396.582px;
        height: 116px;
        padding-bottom: 24px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        .soft {
          font-size: 38px;
          font-weight: 400;
          line-height: 50px;
        }
        .ingre2Text {
          font-size: 38px;
          font-weight: 500;
          color: #222222;
          padding-top: 5px;
        }
      }
      .underLine {
        border: 1px solid #222;
        width: 30px;
        height: 1px;
      }
      .ingre2Detail {
        font-size: 18px;
        color: #666;
        line-height: 30px;
        width: 425px;
        height: 180px;
        margin-top: 24px;
      }
    }
    .ingre2Image {
      width: 632px;
      height: 650px;
    }
  }

  .ingredient3 {
    display: flex;
    justify-content: space-between;
    width: 1132px;
    height: 730px;
    padding-top: 80px;
    margin-bottom: 73px;
    .ingre3Image {
      width: 632px;
      height: 650px;
    }
    .ingreContents3 {
      display: flex;
      flex-direction: column;
      width: 455px;
      height: 415px;
      padding-top: 70px;
      padding-left: 50px;

      .contentsHead {
        width: 396.582px;
        height: 116px;
        padding-bottom: 24px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        .vitality {
          font-size: 38px;
          font-weight: 400;
          line-height: 50px;
        }
        .ingre3Text {
          font-size: 38px;
          font-weight: 500;
          color: #222222;
          padding-top: 5px;
        }
      }
      .underLine {
        border: 1px solid #222;
        width: 30px;
        height: 1px;
      }
      .ingre3Detail {
        font-size: 18px;
        color: #666;
        line-height: 30px;
        width: 425px;
        height: 180px;
        margin-top: 24px;
      }
    }
  }
}

.recommendSection {
  width: 1600px;
  height: 577px;
  background-color: #faf9f7;
  .recommendIntroBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    .recommendIntro {
      font-size: 24px;
      font-weight: 500;
      padding-top: 80px;
      padding-bottom: 14px;
    }
    .underBar {
      width: 30px;
      height: 4px;
      background: #962639;
      margin-bottom: 40px;
    }
    .recommendText {
      display: flex;
      font-size: 38px;
      font-weight: 350;
      line-height: 50px;
      .recommendMenu {
        font-weight: 400;
      }
      .recommend {
        font-weight: 500;
        padding-left: 9px;
      }
    }
  }
  .eachRecommendBox {
    display: flex;
    justify-content: center;
    .eachRecommend {
      width: 1132px;
      height: 211px;
      background-color: white;
      margin-top: 85px;
      display: flex;
      .recommendForHealth {
        width: 377.324px;
        height: 211px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
        padding-bottom: 35px;
        position: relative;
        .forHealthImg {
          position: absolute;
          top: -27%;
        }
        .forHealth {
          padding-bottom: 22px;
          font-weight: 500;
        }
        .recommendUnderBar {
          width: 16px;
          height: 1px;
          background-color: #ddcbc1;
          margin-bottom: 14px;
        }
        .aboutHealth1 {
          font-size: 16px;
          color: #666666;
          padding-bottom: 8px;
        }
        .aboutHealth2 {
          font-size: 16px;
          color: #666666;
        }
      }
      .sideBarContainer {
        display: flex;
        align-items: center;
        .sideBar {
          height: 150px;
          border: 1px solid #faf9f7;
        }
      }

      .recommendForBreakfast {
        width: 377.324px;
        height: 211px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
        padding-bottom: 35px;
        position: relative;
        .forBreakfastImg {
          position: absolute;
          top: -27%;
        }
        .forBreakfast {
          padding-bottom: 22px;
          font-weight: 500;
        }
        .recommendUnderBar {
          width: 16px;
          height: 1px;
          background-color: #ddcbc1;
          margin-bottom: 14px;
        }
        .aboutBreakfast1 {
          font-size: 16px;
          color: #666666;
          padding-bottom: 8px;
        }
        .aboutBreakfast2 {
          font-size: 16px;
          color: #666666;
        }
      }
      .sideBarContainer {
        display: flex;
        align-items: center;
        .sideBar {
          height: 150px;
          border: 1px solid #faf9f7;
        }
      }

      .recommendForPresent {
        width: 377.324px;
        height: 211px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
        padding-bottom: 35px;
        position: relative;
        .forPresentImg {
          position: absolute;
          top: -27%;
        }
        .forPresent {
          padding-bottom: 22px;
          font-weight: 500;
        }
        .recommendUnderBar {
          width: 16px;
          height: 1px;
          background-color: #ddcbc1;
          margin-bottom: 14px;
        }
        .aboutPresent1 {
          font-size: 16px;
          color: #666666;
          padding-bottom: 8px;
        }
        .aboutPresent2 {
          font-size: 16px;
          color: #666666;
        }
      }
    }
  }
}
