@import "../../../Styles/common.scss";

.JoinTable {
  .title {
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    line-height: 1em;
    margin-bottom: 30px;
  }

  .joinStepBox {
    text-align: center;
    margin-bottom: 35px;

    ol {
      li {
        width: 220px;
        padding-top: 45px;
        position: relative;
        display: inline-block;
        color: #c2c2c2;
        font-size: 16px;
        vertical-align: top;

        strong {
          font-weight: 700;
          display: block;
        }

        span {
          display: block;
        }

        &::before {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          top: 17px;
          left: 50%;
          background: #ddd;
        }

        &::after {
          content: "";
          width: 36px;
          height: 36px;
          border: 3px solid #ddd;
          background: #ddd;
          box-sizing: border-box;
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -18px;
          border-radius: 100%;
        }

        &:last-child::before {
          display: none;
        }
      }

      .step {
        color: #222;

        &::after {
          border-color: $labelBur !important;
          background: #fff !important;
        }
      }

      .stepSuccess {
        &::before {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          top: 17px;
          left: 50%;
          background: $labelBur;
        }

        &::after {
          border-color: $labelBur !important;
          background: url(/Images/icons.png) 7px 7px no-repeat $labelBur;
        }
      }
    }
  }
}
