.detailContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .infoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1132px;
    height: 552px;
    position: relative;
    .menu {
      width: 552px;
      height: 552px;
      margin-right: 100px;
    }
    .wholeContainer {
      width: 480px;
      height: 552px;
      display: flex;
      flex-direction: column;
      .name {
        font-size: 42px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      .intro {
        font-size: 18px;
        color: #666;
        font-weight: 450;
        padding-top: 4px;
      }
      .priceContainer {
        padding-top: 25px;
        .price {
          font-size: 34px;
          font-weight: 700;
          color: #962639;
        }
        .unit {
          font-size: 22px;
          color: #222222;
        }
      }
      .btnContainer {
        display: flex;
        flex-direction: row-reverse;
        .btn {
          width: 260px;
          display: flex;
          justify-content: space-between;
          .myMenu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 22px;
            width: 124px;
            height: 41px;
            font-size: 16px;
            background-color: white;
            border: 1px solid #ddd;
            outline: none;
            .likeIcon {
              background: url("/Images/heart_icon.png") left top no-repeat;
              width: 20px;
              height: 18px;
              background-position: 0px 2px;
            }
          }
          .activeMyMenu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 22px;
            width: 124px;
            height: 41px;
            font-size: 16px;
            color: white;
            background-color: #444444;
            border: 1px solid #444444;
            outline: none;
            .likeIcon {
              background: url("/Images/heart_icon.png") left top no-repeat;
              width: 20px;
              height: 18px;
              background-size: 50px;
              background-position: 80% 50%;
            }
          }
          .origin {
            width: 124px;
            height: 41px;
            font-size: 16px;
            background-color: white;
            border: 1px solid #ddd;
            outline: none;
          }
        }
      }
      .bar {
        border-bottom: solid 2px #222;
        padding-bottom: 22px;
      }
      .summary1 {
        color: #666;
        font-size: 18px;
        font-weight: 450;
        padding-top: 24px;
      }
      .summary2 {
        color: #666;
        font-size: 18px;
        font-weight: 450;
        padding-top: 7px;
      }
      .summary3 {
        color: #666;
        font-size: 18px;
        font-weight: 450;
        padding-top: 7px;
      }
      .previewImage {
        width: 140px;
        height: 65px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        img{
          width: 65px;
          height: 65px;
        }
        .subImage1 {
         border: solid 2px #962639;
          
        }
        .subImage2 {
          border: solid 2px #962639;
        }
      }
    }
    .shareContainer {
      width: 115.2px;
      height: 55px;
      position: absolute;
      right: 0;
      bottom: 7px;
      display: flex;
      justify-content: space-around;
      .fbContainer {
        width: 50px;
        height: 50px;
        border: solid 1px #9a9a9a;
        border-radius: 100%;
        .facebook {
          background: url("/Images/share_icon.png") left top no-repeat;
          background-size: 130px;
          overflow: hidden;
          background-position-x: 8px;
          background-position-y: 8px;
          width: 35px;
          height: 35px;
          left: -150%;
          top: -10%;
        }
      }
      .linkContainer {
        width: 50px;
        height: 50px;
        border: solid 1px #9a9a9a;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-top: 2px;
        .link {
          background: url("/Images/share_icon.png") left top no-repeat;
          background-size: 120px;
          overflow: hidden;
          background-position-x: -63px;
          background-position-y: 7px;
          width: 35px;
          height: 35px;
          left: -150%;
          top: -10%;
        }
      }
    }
  }
}
