.Modal {
  .headContainer {
    display: flex;
    background-color: #6e0000;
    width: 600px;
    height: 70px;

    .Head {
      color: white;
      font-weight: 500;
      line-height: 70px;
      font-size: 28px;
      text-align: center;
      width: 550px;
      height: 70px;
      padding-left: 50px;
    }

    .classPopContainer {
      display: flex;
      align-items: center;
      padding-right: 20px;
      .closePop {
        width: 30px;
        height: 30px;
        background: url("/Images/x_icon.png") left top no-repeat;
        background-size: 200px;
        background-position-x: 4px;
        background-position-y: 4px;
      }
    }
  }
  .originInfoContainer {
    width: 600px;
    height: 870px;
    padding: 45px 30px 50px 30px;
    .originInfo {
      width: 540px;
      height: 775px;
    }
  }
}
