.ingredient2 {
  display: flex;
  justify-content: space-between;
  width: 1132px;
  height: 730px;
  padding-top: 80px;

  .ingreContents2 {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 50px;
    width: 459.12px;
    height: 427.97px;
    padding-top: 70px;
    padding-left: 50px;

    .contentsHead {
      width: 396.582px;
      height: 116px;
      padding-bottom: 24px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;

      .soft {
        font-size: 38px;
        font-weight: 400;
        line-height: 50px;
      }

      .ingre2Text {
        font-size: 38px;
        font-weight: 500;
        color: #222222;
        padding-top: 5px;
      }
    }

    .underLine {
      border: 1px solid #222;
      width: 30px;
      height: 1px;
    }

    .ingre2Detail {
      font-size: 18px;
      color: #666;
      line-height: 30px;
      width: 425px;
      height: 180px;
      margin-top: 24px;
    }
  }
  
  .ingre2Image {
    width: 632px;
    height: 650px;
  }
}
