input,
button {
  outline-style: none;
}

.BasketFeeds {
  height: 52px;
  border-top: 1px solid #ccc;
  .checkboxContainer {
    vertical-align: middle;
    padding: 12px;
    height: 52px;

    .checkboxWrap {
      position: relative;
      height: 15px;
      width: 15px;
      border: 1px solid #888;
      background-color: #fff;
      cursor: pointer;

      .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkboxCustom {
        position: absolute;
        transform: rotate(0deg) scale(1);
      }
    }

    .checkboxWrapChecked {
      position: relative;
      height: 15px;
      width: 15px;
      border: 1px solid #888;
      background-color: #fff;
      cursor: pointer;

      .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkboxCustom {
        position: absolute;
        content: "";
        width: 7px;
        height: 11px;
        border: 1px solid #888;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg) scale(1);
        left: 3px;
        top: -1px;
      }
    }
  }
  .infoContainer {
    color: #888;
    font-size: 14px;
    line-height: 1.5;
    padding: 14px 4px;
    width: 43%;
    vertical-align: middle;
    .infoWrap {
      display: flex;
      align-items: center;
      .mockImg {
        width: 100px;
      }
      .infoTextWrap {
        margin-left: 10px;
        .productName {
          color: #333;
          cursor: pointer;
          font-size: 15px;
        }
      }
    }
  }
  .qtyContainer {
    color: #888;
    font-size: 14px;
    line-height: 1.5;
    padding: 14px 4px;
    width: 12%;
    height: 140px;
    vertical-align: middle;

    .qtyBox {
      position: relative;
      width: 36px;
      height: 30px;
      margin: 0 auto;

      .qtyInput {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        color: #555;
        background-color: #f6f6f6;
        font-size: 12px;
        text-align: center;
      }
      .qtySubtract {
        position: absolute;
        left: -30px;
        background-color: #f2f2f2;
        width: 30px;
        height: 100%;
        color: #888;
        border: 0 none;
      }
      .qtyAdd {
        position: absolute;
        background-color: #e5e5e5;
        width: 30px;
        height: 100%;
        border: 0 none;
      }
    }
  }
  .priceContainer {
    width: 15%;
    vertical-align: middle;
    text-align: right;
    .price {
      color: #888;
      font-size: 15px;
      line-height: 1.5;
      padding: 14px 4px;
      text-align: right;
      color: #727272;
    }
  }

  .funcContainer {
    color: #888;
    font-size: 14px;
    line-height: 1.5;
    padding: 14px 4px 14px 30px;
    width: 15%;
    vertical-align: middle;

    .btnGroup {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 88px;

      .remove {
        font-size: 13px;
        height: 30px;
        padding: 6px 0;
        margin: 3px 0;
        border: 1px solid #ddd;
        color: #727272;
      }
    }
  }
}
