@import "../../../Styles/common.scss";

.MainContent {
  .soupImageHide {
    width: 650px;
    height: 480px;
    margin-top: -35px;
    z-index: 3;
    display: none;
  }

  .soupImage {
    width: 650px;
    height: 480px;
    margin-top: -35px;
    z-index: 3;
    animation-name: change1;
    animation-duration: 0.5s;
    opacity: 1;
  }

  @keyframes change1 {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .bonCafeImageHide {
    width: 650px;
    height: 410px;
    margin-top: -33px;
    z-index: 1;
    display: none;
  }

  .bonCafeImage {
    width: 650px;
    height: 410px;
    margin-top: -33px;
    z-index: 1;
    animation-name: change2;
    animation-duration: 0.2s;
  }

  @keyframes change2 {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}

.bonLunchBoxImageHide {
  width: 650px;
  height: 515px;
  margin-top: -70px;
  display: none;
}

.bonLunchBoxImage {
  width: 650px;
  height: 515px;
  margin-top: -70px;
  animation-name: change3;
  animation-duration: 1s;
  opacity: 1;
  z-index: 2;
}

@keyframes change3 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.bonSulImageHide {
  width: 650px;
  height: 515px;
  margin-top: -41px;
  display: none;
  z-index: 0;
}

.bonSulImage {
  width: 650px;
  height: 515px;
  margin-top: -41px;
  z-index: 0;
}

.left {
  margin-top: 110px;

  .mainContentCardContainer {
    width: 100%;
    height: 375px;

    .mainContentArticle {
      display: flex;
      width: 1130px;
      height: 375px;
      margin: 0 auto;
    }

    span {
      font-size: 18px;
      line-height: 30px;
    }

    .mainContentTextHide {
      position: relative;
      width: 480px;
      height: 100%;
      padding: 25px 0px 0px 30px;
      display: none;
    }

    .mainContentText {
      position: relative;
      width: 480px;
      height: 100%;
      padding: 25px 0px 0px 30px;
      animation-name: firstCardBox;
      animation-duration: 1s;
      z-index: 1;
    }

    @keyframes firstCardBox {
      0% {
        right: 50%;
      }
      100% {
        right: 0px;
      }
    }

    .leftCard {
      position: absolute;
      width: 50%;
      height: 325px;
      right: 0;
      z-index: -1;
      background-color: #f4f4f4;
    }

    .leftCardActive {
      position: absolute;
      width: 50%;
      height: 325px;
      right: 0;
      z-index: 1;
      background-color: #f4f4f4;
      animation-name: first;
      animation-duration: 2s;
    }

    @keyframes first {
      0% {
        right: -50%;
      }
      100% {
        right: 0px;
      }
    }
    .textTitle {
      font-size: 34px;
      padding: 2px 0px 6px;
      line-height: 40px;
    }

    hr {
      width: 27px;
      height: 2px;
      border: 0;
      background-color: #222;
      margin: 20px 0 23px 0;
    }

    .mainText {
      font-size: 16px;
      padding-bottom: 4px;
      line-height: 25px;
    }

    button {
      width: 170px;
      height: 52px;
      margin: 30px 0px 0px;
      font-size: 18px;
      outline: none;
      border: none;
      color: white;
      background-color: $bur;
    }
  }
}

.right {
  margin-top: 110px;

  .mainContentCardContainer {
    width: 100%;
    height: 375px;

    .mainContentArticle {
      display: flex;
      width: 1130px;
      height: 375px;
      margin: 0 auto;
    }

    span {
      font-size: 18px;
      line-height: 30px;
    }

    .mainContentTextHide {
      position: relative;
      width: 480px;
      height: 100%;
      padding: 25px 0px 0px 30px;
      display: none;
    }

    .mainContentText {
      position: relative;
      width: 480px;
      height: 100%;
      padding: 25px 0px 0px 30px;
      animation-name: secondCardBox;
      animation-duration: 2s;
      z-index: 1;
    }

    @keyframes secondCardBox {
      0% {
        left: -40%;
      }
      100% {
        left: 0;
      }
    }

    .rightCard {
      position: relative;
      width: 50%;
      height: 325px;
      left: 0;
      z-index: -1;
      background-color: #f4f4f4;
    }

    .rightCardActive {
      position: absolute;
      width: 50%;
      height: 325px;
      left: 0;
      z-index: 0;
      background-color: #f4f4f4;
      animation-name: rightCardActive;
      animation-duration: 2s;
    }

    @keyframes rightCardActive {
      0% {
        left: -60%;
      }
      100% {
        left: 0px;
      }
    }

    .textTitle {
      font-size: 34px;
      padding: 2px 0px 6px;
      line-height: 40px;
    }

    hr {
      width: 27px;
      height: 2px;
      border: 0;
      background-color: #222;
      margin: 20px 0 23px 0;
    }

    .mainText {
      font-size: 16px;
      padding-bottom: 4px;
      line-height: 25px;
    }

    button {
      width: 170px;
      height: 52px;
      margin: 30px 0px 0px;
      font-size: 18px;
      outline: none;
      border: none;
      color: white;
      background-color: $bur;
    }
  }
}
