@import "../../Styles/common.scss";

.Agree {
  width: 100%;
  @include center;
  flex-direction: column;
  position: relative;
  top: 170px;
  margin-bottom: 170px;

  .stepInner {
    width: 1132px;
    margin: 0 auto;

    .innerText {
      text-align: center;
      margin-bottom: 26px;

      h3 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .innerSpan {
        font-size: 16px;
        color: $textContent;
        line-height: 26px;
      }
    }

    .joinRuleBox {
      border-top: 1px solid #ddd;

      .agreeAllBtn {
        font-size: 20px;
        font-weight: 500;
        margin: 35px 0 18px 0;
      }

      .submitBox {
        text-align: center;
        margin: 0 auto;

        .joinSubmit {
          width: 200px;
          height: 50px;
          font-size: 18px;
          font-weight: 500;
          color: #fff;
          line-height: 50px;
          border: 1px solid $bur;
          background: $bur;
          margin-top: 40px;
          margin-bottom: 100px;
          cursor: pointer;
        }
      }
    }
  }
}
