@import "../../Styles/common.scss";

.Complete {
  width: 100%;
  @include center;
  flex-direction: column;

  .title {
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    line-height: 1em;
    margin-bottom: 30px;
  }

  .joinStepBox {
    text-align: center;
    margin-bottom: 35px;

    ol {
      li {
        width: 220px;
        padding-top: 45px;
        position: relative;
        display: inline-block;
        color: #c2c2c2;
        font-size: 16px;
        vertical-align: top;

        strong {
          font-weight: 700;
          display: block;
        }

        span {
          display: block;
        }

        &::before {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          top: 17px;
          left: 50%;
          background: #ddd;
        }

        &::after {
          content: "";
          width: 36px;
          height: 36px;
          border: 3px solid #ddd;
          background: #ddd;
          box-sizing: border-box;
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -18px;
          border-radius: 100%;
        }

        &:last-child::before {
          display: none;
        }
      }

      .step {
        color: #222;

        &::after {
          border-color: $labelBur !important;
          background: #fff !important;
        }
      }

      .stepSuccess {
        &::before {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          top: 17px;
          left: 50%;
          background: $labelBur;
        }

        &::after {
          border-color: $labelBur !important;
          background: url(/Images/icons.png) 7px 7px no-repeat $labelBur;
        }
      }
    }
  }

  .stepInner {
    width: 1132px;
    margin: 0 auto;

    .innerText {
      text-align: center;
      margin-bottom: 26px;

      h3 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;

        .textPoint {
          color: $labelBur !important;
        }
      }
    }

    .completeBox {
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      background: #f4f4f4;
      padding: 280px 0 47px 0;
      margin-top: 40px;
      position: relative;

      p {
        strong {
          font-weight: 500;
        }

        &::before {
          content: "";
          width: 200px;
          height: 200px;
          background: url(/Images/bg_join_auth.png) center -600px no-repeat;
          position: absolute;
          left: 50%;
          top: 50px;
          margin-left: -100px;
        }
      }
    }

    .btnBox {
      text-align: center;
      margin-top: 40px;

      .btn {
        width: 200px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        padding: 0 40px;
        cursor: pointer;
      }

      .loginBtn {
        border: 1px solid #444;
        background-color: #444;
        margin-right: 20px;
      }

      .mainBtn {
        border: 1px solid $bur;
        background-color: $bur;
      }
    }
  }
}
