.SubMenu {
  position: fixed;
  // top: 96px;
  width: 100%;
  height: 146px;
  z-index: 2;
  color: white;

  .subIFMenu {
    margin: 0 auto;
    width: 1280px;
    height: 100%;

    ul {
      display: flex;
      position: relative;
      top: 115px;
      justify-content: center;
    }

    li {
      margin: 0px 35px;
    }
  }
  .downin {
    position: absolute;
    width: 100%;
    height: 146px;
    animation-name: down;
    animation-duration: 0.5s;
    background-color: #6e0000e6;
  }

  @keyframes down {
    0% {
      top: -146px;
    }
    100% {
      top: 0px;
    }
  }

  .upin {
    position: absolute;
    width: 100%;
    height: 146px;
    animation-name: up;
    animation-duration: 0.5s;
    background-color: #6e0000e6;
  }

  @keyframes up {
    0% {
      top: 0px;
    }
    100% {
      top: -146px;
    }
  }
}
