@import "../../Styles/common.scss";

@mixin iconSize {
  width: 49px;
  height: 49px;
  margin-left: 7px;
  border: solid 1px rgba(255, 255, 255, 0.5);
}

.Nav {
  .mainNav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96px;
    color: white;
    z-index: 10;
  }

  .nav {
    position: absolute;
    width: 100%;
    height: 96px;
    background-color: #6e0000e6;
    z-index: -1;
  }

  .box {
    animation-name: down;
    animation-duration: 0.5s;
  }

  .inactive {
    top: -96px;
    animation-name: up;
    animation-duration: 1s;
  }

  @keyframes down {
    0% {
      top: -96px;
    }
    100% {
      top: 0px;
    }
  }

  @keyframes up {
    0% {
      top: 96px;
    }
    100% {
      top: 0px;
    }
  }

  .navHr {
    position: absolute;
    width: 100%;
    top: 96px;
    border-bottom: 1px solid white;
    z-index: 1;
    opacity: 0.3;
  }

  .mainNavContainer {
    position: relative;
  }

  .mainNavOver {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96px;
    background-color: red;
    z-index: 10;
  }

  .mainLogoImg {
    width: 160px;
    height: 95px;
  }

  .mainCategory {
    width: 897.73px;
    height: 100%;
    padding: 6px 0px 0px 20px;

    ul {
      display: flex;
      width: 717.73px;
      height: 96px;
      font-size: 16px;
    }

    li {
      height: 90px;
      line-height: 90px;
      padding: 0px 15px;
    }

    a {
      display: block;
      height: 100%;
    }

    .activeUnderLine {
      background-color: white;
      width: 100%;
      height: 3px;
      transition: all 0.5;
    }
  }

  .mainUtil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 323px;
    height: 82px;
    color: white;

    a {
      color: white;
      font-size: 14px;
      padding: 0 10px;
    }

    .searchImg {
      @include iconSize;
      background-image: url("/Images/gnb_util.png");
    }

    .menuImg {
      @include iconSize;
      background-image: url("/Images/gnb_util.png");
      background-position: -50px top;
    }
  }

  .test {
    position: fixed;
    width: 100%;
    height: 146px;
    z-index: 2;
    animation-name: testdown;
    animation-duration: 3s;
  }

  @keyframes testdown {
    0% {
      top: -146px;
      background-color: #6e0000e6;
    }
    100% {
      top: 0px;
      background-color: #6e0000e6;
    }
  }

  .logout {
    display: none;
  }
}
