@import "./../../Styles/common.scss";

.btnBrandOrder {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: $bur;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
  color: white;
}

.btnBrandOrderFix {
  left: 0;
  width: 100%;
  text-align: center;
  background: $bur;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
  color: white;
}

.orderText {
  color: white;
}
