.Menu {
  * {
    box-sizing: border-box;
    color: inherit;
  }
  .contentWrapVisual {
    height: 390px;
    margin-bottom: 50px;
    background: url("https://www.bonif.co.kr/resources/web/css/images/v/sub_visual_bonjuk.jpg")
      center no-repeat;
    background-size: cover;
    .innerWrapIn {
      width: 1132px;
      margin: 0 auto;
      .contentTitle {
        position: relative;
        padding-top: 245px;
        padding-bottom: 30px;
        font-size: 42px;
        font-weight: 400;
        text-align: center;
        line-height: 1em;
        color: white;
      }
    }
  }
  .subContents {
    position: relative;
    width: 1132px;
    margin: 0 auto;
    .tabBrand {
      display: table;
      table-layout: fixed;
      margin-top: -20px;
      margin-bottom: 30px;
      border-bottom: 1px solid lightgray;
      .tabRow {
        display: table-row;
        a {
          display: table-cell;
          width: 161px;
          height: 51px;
          text-align: center;
          line-height: 50px;
          .on {
            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -1px;
              width: 100%;
              height: 3px;
              background: #6e0000;
              z-index: 1;
            }
          }
        }
      }
    }
  }
  .menuMapList {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    width: 1162px;
    li {
      margin-top: 20px;
      padding-left: 30px;
      .goods-block {
        position: relative;
        height: 350px;

        .goods-icon {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          letter-spacing: -0.025em;
          em {
            display: inline-block;
            color: #fff;
            line-height: 30px;
            font-size: 14px;
            padding: 0 8px;
            text-transform: uppercase;
            font-weight: 500;
          }
          .best {
            background: #962639;
            font-family: "Spoqa";
          }
          .new {
            background: #87af0f;
            font-family: "Spoqa";
          }
        }
      }
      .goods-thumb {
        position: relative;
        p {
          width: 260.5px;
          height: 260.5px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .goods-opt-selectbox {
        position: absolute;
        bottom: 0;
        background-color: black;
        opacity: 0.6;
        width: 260.5px;
        height: 50px;
        line-height: 50px;
        text-align: center;

        a {
          color: white;

          &::before {
            content: "";
            display: inline-block;
            background: url("/Images/ico_zzim2.png") no-repeat;
            width: 23px;
            height: 20px;
            margin-right: 8px;
            vertical-align: -3px;
          }
        }
      }

      .goods-opt-selectbox-fill {
        position: absolute;
        bottom: 0;
        background-color: black;
        opacity: 0.6;
        width: 260.5px;
        height: 50px;
        line-height: 50px;
        text-align: center;

        a {
          color: white;

          &::before {
            content: "";
            display: inline-block;
            background: url("/Images/ico_zzim2.png") no-repeat;
            background-position-x: -26px;
            width: 23px;
            height: 20px;
            margin-right: 8px;
            vertical-align: -3px;
          }
        }
      }

      .goods-name {
        padding-top: 10px;
        .name {
          width: 260.5px;
          height: 27px;
          line-height: 27px;
          font-size: 18px;
        }
        .price {
          width: 260.5px;
          height: 24px;
          line-height: 24px;
          margin-top: 2px;
          span {
            color: #962639;
            font-size: inherit;
          }
        }
      }
    }
  }
}
